<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  
  <test name="Effects UI Test">
    <classes>
      <class name="UITests.Test_Effects"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Transitions UI Test">
    <classes>
      <class name="UITests.Test_Transitions"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Glass Pane UI Test">
    <classes>
      <class name="UITests.Test_GE_GlassPane"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
